@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {


    main .top-blog .col-md-6 {
        flex-direction: column;
    }


    footer .card ul li .chip {
        padding-left: 20px;
        padding-right: 20px;
    }

    footer .social-media a {
        height: 30px;
        width: 40px;
    }

    footer .social-media a i {
        font-size: 20px;
    }
}